input {
  color: var(--input-color);
  border: 1px solid var(--input-border-color);
  font-size: 1.125rem;
  padding: var(--spacing-default);
}

select {
  border: 1px solid var(--input-border-color);
  color: var(--input-color);
  padding: var(--spacing-default);
}
