.demo-nav-list {
  justify-content: left;
}

.demo-menu-item {
  padding: 0.25rem;
}

.hide {
  display: none;
  visibility: hidden;
}

.menu-toggle {
  border: 0.125rem solid var(--button-background-color);
  margin: 0.25rem 0;
  padding: 0.25rem;
}
